<div style="text-align: center;">
    <h1>This is 404 page. If you see this, it means there is no page for this url</h1>

    <iframe src="https://giphy.com/embed/eKrgVyZ7zLvJrgZNZn" width="360" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/eKrgVyZ7zLvJrgZNZn">via GIPHY</a></p>
</div>