<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>PostIt - Add new post</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

        <main>
            <div class="container">
                <div id="add-post-container">
                    <p>Add new post</p>
                    <div id="form-div">
                        <form id="add-post" action="/posts/add-new" method="post">
                            <div class="form-row">
                                <label for="title"></label>
                                <input type="text" name="title" required maxlength="50" placeholder="Post title">
                            </div>
                            <div class="form-row">
                                <label for="body"></label>
                                <textarea rows="6" name="body" required maxlength="500"
                                    placeholder="Type the main text of the post here"></textarea>
                            </div>
                            <div class="form-row">
                                <label for="image"></label>
                                <input type="url" name="image_url" required placeholder="Insert image url here">
                            </div>
                            <div class="form-row">
                                <label for="image_description"></label>
                                <input type="text" name="image_description" required maxlength="50"
                                    placeholder="Add short description of the image">
                            </div>
                            <input type="submit" class="btn" value="Submit">
                        </form>
                    </div>
                </div>
            </div>

        </main>

        <%- include('./partials/footer.ejs') %>

        <script type="text/javascript" src="/js/script.js"></script>

</body>

</html>