<link href="/css/styles.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <div id="upper">
        <div id="logo">
            <a href="/"><img src="/images/logo.png" alt="" srcset=""></a>
        </div>
        <div id="center">
            <input type="search" name="search" id="search" placeholder="Search...">
            <button id="btn-search">Search</button>
        </div>
        <div id="avatar">
            <img src="/images/avatar.png" alt="" srcset="">
        </div>
    </div>

    <div id="nav-links">
        <a href="/">Link 1</a>
        |
        <a href="/">Link 2</a>
        |
        <a href="/">Link 3</a>

    </div>

</header>

<main>
    <div class="container">
        <form id="add-post" action="/posts/add-new" method="post">
            <label for="title">Title</label>
            <input type="text" name="title" required maxlength="50">  <br>
            <label for="subtitle">Body</label>
            <textarea rows="15" name="subtitle" required maxlength="50"> </textarea> <br> 
            <label for="image">Image url</label>
            <input type="url" name="image_url" required >  <br> 
            <input type="submit" value="Submit"> 
        </form>
    </div>
</main>

<footer id="footer">
    <p>some random footer text</p>
</footer>
