<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>PostIt - Login</title>
</head>

<body>
	<%- include('./partials/navbar.ejs') %>
	<main>
		<div class="container">
			<div id="add-post-container">
				
				<div id="login-welcome">
					<img src="/images/logo.png" id="login-logo"></img>
					<h3>Welcome to PostIt!</h3>
				</div>
				

				<div id="login-container">
					
					<a href="login.html">Create an Account</a>
		
					<p>Or</p>
		
					<strong>Please Log in</strong>
		
					<div class="form-row">
						<input type="text" name="Email" placeholder="Email"><br>
					</div>

					<div class="form-row">
						<input type="password" name="Password" placeholder="Password"><br>
					</div>
		
					<a href="/" class="mt">
						<button class="btn">Log in</button>
					</a>
		
					<a href="https://www.wikihow.com/Remember-a-Forgotten-Password" class="mt">Forgot password?</a>
				</div>
			</div>
		</div>

	</main>

	<%- include('./partials/footer.ejs') %>
	<script type="text/javascript" src="/js/script.js"></script>
</body>

</html>