<nav>
    <a href="/"><img src="/images/logo.png" alt="" srcset="" class="logo"></a>
    <ul>
        <li id="1" class="active"><a href="/">Posts</a></li> |
        <li id="2"><a href="/posts/add-new">Add new post</a></li>
    </ul>
    <div>
        <img src="/images/avatar.png" alt="" srcset="" class="avatar">
    </div>
</nav>